Source: fvorge
Section: what
Priority: extra
Maintainer: Y <j13@us.sios.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://us.sios.com
#Vcs-Git: git://git.debian.org/collab-maint/fvorge.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fvorge.git;a=summary

Package: fvorge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OVF
 OVF configurer
